h1 { margin-left: 340px;
    margin-top: 150px;
 }

 .searchr {
    height: 34px;
    width: 459px;
    margin-left: 230px;
    border-radius: 0px;
}

.buscarcongoogle {

    margin-left: 310px;
    margin-top: 15px;
    border-radius: 0px;
}

.mesientoconsuerte {

    margin-left: 13px;
    border-radius: 0px;

}